{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}

  <form method="get" action="/">
    <input type="text" name="s" placeholder="Search..." value="{{query}}">
    <button type="submit"><span class="sr-only">Submit</span></button>
  </form>

  {% if query %}
    <p>Searching for <strong>"{{query}}"</strong> from pages, blog and wiki.</p>

    {% if posts is not empty %}

      {% for post in posts %}
        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
      {% endfor %}

    {% else %}
      <h5>No results.</h5>
    {% endif %}

  {% endif %}

  {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

{% endblock %}
